.alertContent {
    padding: 0.3rem 0.8rem;
}

.alert-container {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 2;
    padding: 0.3rem 0.3rem;
    width: 60%;
    margin: 0rem auto;
    text-align: center;

}