<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%-5p] %c{1.}:%M:%L :: %msg%n%throwable</Property>
<!--        <Property name="LOG_PATTERN">%style{%d{ISO8601}}{black} - %highlight{%-5level } - [%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable</Property>-->
        <Property name="APP_LOG_ROOT">C:/Data/Docs/Projects/Spring boot/springBoot-Back-MySQL-Front-Angular/ServerManagementApp_springBoot-MySQL-BackEnd/serverManagement/logs</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>

        <RollingFile name="fileLog"
                     fileName="${APP_LOG_ROOT}/serverManagement.log"
                     filePattern="${APP_LOG_ROOT}/serverManagement-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />

            <Policies>
                <!-- rollover on startup && daily && when the file reaches 10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>

            <DefaultRolloverStrategy max="1" />
        </RollingFile>

    </Appenders>
    <Loggers>

        <Logger name="com.chace.serverManagement" additivity="false">
            <AppenderRef ref="fileLog" />
            <AppenderRef ref="Console" />
        </Logger>

        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>